.topnav{
    display: flex;
    gap:4%;
}
.nav a{
    padding: 12px;
    width: 50%;
   
}
button{
    background-color: #DA1133;
    border-radius: 13px;
    padding: 7px 21px;
}
.superhero img{
    border-radius: 50%;
}
.outer-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 89px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    margin: 0%;
}
.inner-button {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 16px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
    transform: translate(-80%,-0%);
}
.subcription{
    display: flex;
}
.icon{
    position: relative;
    top: 15px;
    left: 5px;
}
.socials{
    display: flex;
    gap:10%;
}
.iconss img{
    width: 12%;
    position: absolute;
    
}
.icon1{
   display: flex;
   gap: 10%;
}
.upgrade{
    display: grid;
    grid-template-columns: auto auto;
}
.graduate img{
    top: 2%;
}
.up{
    color: #233860;
}
.hero{
    color: #DE1A3A;

}
@media (min-width:375px) and (max-width:435px) {
    .upgrade{
        display: block;
    }
    .outer-button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 30px;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 12px;
        margin: 0%;
    }
    .inner-button {
        background-color: #008CBA; /* Blue */
        border: none;
        color: white;
        padding: 16px 19px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin-left: 10px;
        transform: translate(130%,-100%);
    }
    .socials{
        display: block;
    }
    .topnav{
        
            display: block;
            
        
    }
    
.up{
    font-size: 334%;
}
.superhero img{
    width: 217%;
}
}
@media (min-width:412px) and (max-width:472px) {
    .upgrade{
        display: block;
    }
    .outer-button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 30px;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 12px;
        margin: 0%;
    }
    .inner-button {
        background-color: #008CBA; /* Blue */
        border: none;
        color: white;
        padding: 16px 19px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin-left: 10px;
        transform: translate(-80%,-1%);
    }
    .socials{
        display: block;
    }
    .topnav{
        
            display: block;
            
        
    }
    .up{
        font-size: 334%;
    }
    .superhero img{
        width: 217%;
    }
}
@media (min-width:360px)  {
    .upgrade{
        display: block;
    }
    .outer-button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 30px;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 12px;
        margin: 0%;
    }
    .inner-button {
        background-color: #008CBA; /* Blue */
        border: none;
        color: white;
        padding: 16px 19px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin-left: 10px;
        transform: translate(131%,-100%);
    }
    .socials{
        display: block;
    }
    .topnav{
        
            display: block;
            
        
    }
    .up{
        font-size: 334%;
    }
    .superhero img{
        width: 217%;
    }
}
@media (min-width:820px) and (max-width:880px) {
    .outer-button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 113px;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 12px;
        margin: 0%;
    }
    .inner-button {
        background-color: #008CBA; /* Blue */
        border: none;
        color: white;
        padding: 16px 19px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin-left: 10px;
        transform: translate(270%,-99%);
    }
    .socials{
        display: block;
    }
    .topnav{
        
            display: block;
            
        
    }
   
    .superhero img{
        width: 217%;
        top: -21%;
    }
    .upgrade{
        display: flex;
        gap: 10%;
    }
}
@media (min-width:360px)  {
    .upgrade{
        display: block;
    }
    .outer-button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 30px;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 12px;
        margin: 0%;
    }
    .inner-button {
        background-color: #008CBA; /* Blue */
        border: none;
        color: white;
        padding: 16px 19px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin-left: 10px;
        transform: translate(131%,-100%);
    }
    .socials{
        display: block;
    }
    .topnav{
        
            display: block;
            
        
    }
    .up{
        font-size: 334%;
    }
    .superhero img{
        width: 217%;
    }
}
@media (min-width:768px) and (max-width:828px) {
    .outer-button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 113px;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 12px;
        margin: 0%;
    }
    .inner-button {
        background-color: #008CBA; /* Blue */
        border: none;
        color: white;
        padding: 16px 19px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin-left: 10px;
        transform: translate(270%,-99%);
    }
    .socials{
        display: block;
    }
    .topnav{
        
            display: block;
            
        
    }
   
    .superhero img{
        width: 217%;
        top: -21%;
    }
    .upgrade{
        display: flex;
        gap: 3%;
    }
}
@media (min-width:912px) and (max-width:972px) {
    .outer-button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 113px;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 12px;
        margin: 0%;
    }
    .inner-button {
        background-color: #008CBA; /* Blue */
        border: none;
        color: white;
        padding: 16px 19px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin-left: 10px;
        transform: translate(270%,-99%);
    }
    .socials{
        display: block;
    }
    .topnav{
        
            display: block;
            
        
    }
   
    .superhero img{
        width: 217%;
        top: -21%;
    }
    .upgrade{
        display: flex;
        gap: 3%;
    }
}
@media (min-width:540px)  {
    .upgrade{
        display: block;
    }
    .outer-button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 30px;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 12px;
        margin: 0%;
    }
    .inner-button {
        background-color: #008CBA; /* Blue */
        border: none;
        color: white;
        padding: 16px 19px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin-left: 10px;
        transform: translate(-71%,-0%);
    }
    .socials{
        display: block;
    }
    .topnav{
        
            display: block;
            
        
    }
    .up{
        font-size: 334%;
    }
    .superhero img{
        width: 217%;
    }
}
